<div id="container">

  <ngb-carousel
    [showNavigationArrows]="true"
    [showNavigationIndicators]="true"
    interval="1200"
    [keyboard]="true"
    [pauseOnHover]="true"
    [wrap]="true">

  </ngb-carousel>
</div>


<div class="cities">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title">Find properties in these universities</div>
        <div class="section_subtitle">Search a house</div>
      </div>
    </div>
  </div>



  <div class="cities">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title"></div>
          <div class="section_subtitle"></div>
        </div>
      </div>
    </div>

    <div class="cities_container d-flex flex-row flex-wrap align-items-start justify-content-between">

      <!-- City -->
      <div class="city">
        <img src="assets/images/ensi.jpg" alt="https://unsplash.com/@dnevozhai">
        <div class="city_overlay">
          <a href="#" class="d-flex flex-column align-items-center justify-content-center">
            <div class="city_title">Ensi</div>
            <div class="city_subtitle">search rentals</div>
          </a>
        </div>
      </div>

      <!-- City -->
      <div class="city">
        <img src="assets/images/ensit.jpg" alt="https://unsplash.com/@lachlanjdempsey">
        <div class="city_overlay">
          <a href="#" class="d-flex flex-column align-items-center justify-content-center">
            <div class="city_title">Ensit</div>
            <div class="city_subtitle">search rentals</div>
          </a>
        </div>
      </div>

      <!-- City -->
      <div class="city">
        <img src="assets/images/isam.jpg" alt="https://unsplash.com/@hellolightbulb">
        <div class="city_overlay">
          <a href="#" class="d-flex flex-column align-items-center justify-content-center">
            <div class="city_title">Isamm</div>
            <div class="city_subtitle">search rentals</div>
          </a>
        </div>
      </div>

      <!-- City -->
      <div class="city">
        <img src="assets/images/enit.jpg" alt="https://unsplash.com/@justinbissonbeck">
        <div class="city_overlay">
          <a href="#" class="d-flex flex-column align-items-center justify-content-center">
            <div class="city_title">Enit</div>
            <div class="city_subtitle">search rentals</div>
          </a>
        </div>
      </div>

      <!-- City -->
      <div class="city">
        <img src="assets/images/0.png" alt="https://unsplash.com/@claudiotrigueros">
        <div class="city_overlay">
          <a href="#" class="d-flex flex-column align-items-center justify-content-center">
            <div class="city_title">Enicarthage</div>
            <div class="city_subtitle">search rentals</div>
          </a>
        </div>
      </div>

      <div class="city">
        <img src="assets/images/isi.jpg" alt="https://unsplash.com/@mathewwaters">
        <div class="city_overlay">
          <a href="#" class="d-flex flex-column align-items-center justify-content-center">
            <div class="city_title">Isi</div>
            <div class="city_subtitle">search rentals</div>
          </a>
        </div>
      </div>

      <div class="city">
        <img src="assets/images/1.png" alt="https://unsplash.com/@mathewwaters">
        <div class="city_overlay">
          <a href="#" class="d-flex flex-column align-items-center justify-content-center">
            <div class="city_title">Ihec carthage</div>
            <div class="city_subtitle">search rentals</div>
          </a>
        </div>
      </div>


      <!-- City -->
      <div class="city">
        <img src="assets/images/isg.jpg" alt="https://unsplash.com/@mathewwaters">
        <div class="city_overlay">
          <a href="#" class="d-flex flex-column align-items-center justify-content-center">
            <div class="city_title">Isg</div>
            <div class="city_subtitle">search rentals</div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
