<div id="container">
<ngb-carousel
[showNavigationArrows]="true"
[showNavigationIndicators]="true"
interval="1200"
[keyboard]="true"
[pauseOnHover]="true"
[wrap]="true"
[activeId]="'firstSlide'">
    <ng-template ngbSlide id="firstSlide">

      <div class="picsum-img-wrapper"  style="width:100%">
        <img src="assets/img/foyer1.jpg" alt="Angular Carousel 1"class="mh-100" style="width: 100%; height: 515px">
      </div>
      <div class="carousel-caption">

      </div>
    </ng-template>
    <ng-template ngbSlide id="secondSlide">
      <div class="picsum-img-wrapper"  style="width:100%"
      >
        <img src="assets/img/foyer2.jpg" alt="Angular Carousel 2" class="mh-100" style="width: 100%; height: 515px">
      </div>
      <div class="carousel-caption">

      </div>
    </ng-template>
    <ng-template ngbSlide id="thirdSlide">
        <div class="picsum-img-wrapper"  style="width: 100%"
        >
          <img src="assets/img/foyer3.jpg" alt="Angular Carousel 3" class="mh-100" style="width: 100%; height: 515px">
        </div>
        <div class="carousel-caption">

        </div>
      </ng-template>
      <ng-template ngbSlide id="fourthSlide">
        <div class="picsum-img-wrapper"  style="width: 100%"
        >
          <img src="assets/img/foyer4.png" alt="Angular Carousel 4"class="mh-100" style="width: 100%; height: 515px">
        </div>
        <div class="carousel-caption">

        </div>
      </ng-template>
  </ngb-carousel>



  <div class="super_container">
    <!-- Home -->

    <div class="home">

      <!-- Home Slider -->
      <div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">
          <!-- Slide -->
          <div class="owl-item">
            <div class="slide_container">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="slide_content">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide -->
          <div class="owl-item">
            <div class="slide_container">
              <div class="container">
                <div class="row">
                  <div class="col">

                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide -->
          <div class="owl-item">
            <div class="slide_container">
              <div class="container">
                <div class="row">

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br><br>
    <!-- Home Search -->
    <div class="home_search">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="home_search_container">
              <div class="home_search_content">
                <form action="#" class="search_form d-flex flex-row align-items-start justfy-content-start">
                  <div class="search_form_content d-flex flex-row align-items-start justfy-content-start flex-wrap">
                    <div>
                      <select class="search_form_select">
                        <option disabled selected>University</option>
                        <option>Ensit</option>
                        <option>Enit</option>
                        <option>Ensi</option>
                        <option>Isi</option>
                      </select>
                    </div>
                    <div>
                      <select class="search_form_select">
                        <option disabled selected>Type</option>
                        <option>household</option>
                        <option>house</option>

                      </select>
                    </div>
                    <div>
                      <select class="search_form_select">
                        <option disabled selected>Persons</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>more</option>
                      </select>
                    </div>
                   
                    <div>
                      <select class="search_form_select">
                        <option disabled selected>Distance</option>
                        <option>less then 1km</option>
                        <option>about 1km</option>
                        <option>more then 1km</option>
                      </select>
                    </div>
                    <div>
                      <select class="search_form_select">
                        <option disabled selected>Price</option>
                        <option>from 100dt to 150dt</option>
                        <option>from 150dt to 200dt</option>
                        <option>from 200dt to 250dt </option>
                        <option>more than 250dt </option>
                      </select>
                    </div>
                   



                  </div>
                  <div class="btn">
                    <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn ml-auto"></div>
                    <button class="login100-form-btn">
                      search
                    </button>
                  </div>
                </div>
                 
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
