<div class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title">What our clients say</div>
        <div class="section_subtitle">Search your dream home</div>
      </div>
    </div>
    <div class="row testimonials_row">

      <!-- Testimonial Item -->
      <div class="col-lg-4 testimonial_col">
        <div class="testimonial">
          <div class="testimonial_title">Amazing home for me</div>
          <div class="testimonial_text">Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.</div>
          <div class="testimonial_author_image"><img src="assets/images/testimonial_1.jpg" alt=""></div>
          <div class="testimonial_author"><a href="#">Diane Smith</a><span>, Client</span></div>
          <div class="rating_r rating_r_5 testimonial_rating"><i></i><i></i><i></i><i></i><i></i></div>
        </div>
      </div>

      <!-- Testimonial Item -->
      <div class="col-lg-4 testimonial_col">
        <div class="testimonial">
          <div class="testimonial_title">Friendly Realtors</div>
          <div class="testimonial_text">Nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna. Pellentesque sit amet tellus blandit.</div>
          <div class="testimonial_author_image"><img src="assets/images/testimonial_2.jpg" alt=""></div>
          <div class="testimonial_author"><a href="#">Michael Duncan</a><span>, Client</span></div>
          <div class="rating_r rating_r_5 testimonial_rating"><i></i><i></i><i></i><i></i><i></i></div>
        </div>
      </div>

      <!-- Testimonial Item -->
      <div class="col-lg-4 testimonial_col">
        <div class="testimonial">
          <div class="testimonial_title">Very good communication</div>
          <div class="testimonial_text">Retiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul.</div>
          <div class="testimonial_author_image"><img src="assets/images/testimonial_3.jpg" alt=""></div>
          <div class="testimonial_author"><a href="#">Shawn Gaines</a><span>, Client</span></div>
          <div class="rating_r rating_r_5 testimonial_rating"><i></i><i></i><i></i><i></i><i></i></div>
        </div>
      </div>

    </div>
  </div>
</div>
