
  <div class="recent">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title">Recent Properties</div>
          <div class="section_subtitle">Search for suitable home</div>
        </div>
      </div>
      <div class="row recent_row">
        <div class="col">
          <div class="recent_slider_container">
            <div class="owl-carousel owl-theme recent_slider">

              <!-- Slide -->
              <div class="owl-item">
                <div class="recent_item">
                  <div class="recent_item_inner">
                    <div class="recent_item_image">
                      <img src="assets/images/mm.jpg" alt="">
                      <div class="tag_featured property_tag"><a href="#">Contact the announcer</a></div>
                    </div>
                    <div class="recent_item_body text-center">
                      <div class="recent_item_location">Beb alouia</div>
                      <div class="recent_item_title"><a href="property.html">Household</a></div>
                      <div class="recent_item_price">250dt </div>
                    </div>
                    <div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
                      <div><div class="recent_icon"><img src="assets/images/icon_1.png" alt=""></div><span>Girls</span></div>
                      <div><div class="recent_icon"><img src="assets/images/icon_2.png" alt=""></div><span>3 Bedrooms</span></div>
                      <div><div class="recent_icon"><img src="assets/images/icon_3.png" alt=""></div><span>Bathroom</span></div>
                      <div><div class="recent_icon"><img src="assets/img/wi-fi.png" alt=""></div><span> Wifi</span></div>

                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide -->
              <div class="owl-item">
                <div class="recent_item">
                  <div class="recent_item_inner">
                    <div class="recent_item_image">
                      <img src="assets/images/fy.jpg" alt="">
                      <div class="tag_offer property_tag"><a href="#">Contact the announcer</a></div>
                    </div>
                    <div class="recent_item_body text-center">
                      <div class="recent_item_location">Sousse</div>
                      <div class="recent_item_title"><a href="property.html">Confortable house</a></div>
                      <div class="recent_item_price">200DT</div>

                    </div>
                    <div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
                      <div><div class="recent_icon"><img src="assets/images/icon_1.png" alt=""></div><span>Boys</span></div>
                      <div><div class="recent_icon"><img src="assets/images/icon_2.png" alt=""></div><span>2 Bedrooms</span></div>
                      <div><div class="recent_icon"><img src="assets/images/icon_3.png" alt=""></div><span>Bathroom</span></div>
                      <div><div class="recent_icon"><img src="assets/img/wi-fi.png" alt=""></div><span> Wifi</span></div>

                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide -->
              <div class="owl-item">
                <div class="recent_item">
                  <div class="recent_item_inner">
                    <div class="recent_item_image">
                      <img src="assets/images/lg.jpg" alt="">
                      <div class="tag_featured property_tag"><a href="#">Contact the announcer</a></div>
                    </div>
                    <div class="recent_item_body text-center">
                      <div class="recent_item_location">Manar</div>
                      <div class="recent_item_title"><a href="property.html">luxury Home</a></div>
                      <div class="recent_item_price">550dt </div>
                    </div>
                    <div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
                      <div><div class="recent_icon"><img src="assets/images/icon_1.png" alt=""></div><span>Girls</span></div>
                      <div><div class="recent_icon"><img src="assets/images/icon_2.png" alt=""></div><span>3 Bedrooms</span></div>
                      <div><div class="recent_icon"><img src="assets/images/icon_3.png" alt=""></div><span> Bathroom</span></div>
                      <div><div class="recent_icon"><img src="assets/img/wi-fi.png" alt=""></div><span> Wifi</span></div>

                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="recent_slider_nav_container d-flex flex-row align-items-start justify-content-start">
              <div class="recent_slider_nav recent_slider_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
              <div class="recent_slider_nav recent_slider_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
            </div>
          </div>
						<div class="btn">
              <div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
                <a href="#">see more</a>
							</button>
						</div>
					</div>
        </div>
      </div>
    </div>
  </div>

